.app {
    width: 100%;
    min-height: calc(100vh - 80px);
}

/* Header Style  */
.header {
    background-color: var(--white-color);
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 2px -2px #ccc;
    z-index: 3;
}

.header p {
    color: var(--primary-color);
}

.header .navbar-logo,
.header .navbar-school {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.header .navbar-logo p {
    line-height: 30px;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 0;
}

.header .navbar-school p {
    line-height: 30px;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 0;
}

.nav-dropdown-setting {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 40px;
    height: 40px;
}

.nav-dropdown-setting button,
.nav-dropdown-setting li {
    font-size: 16px;
}

/* Body Style  */
.app-container {
    background-color: var(--primary-color);
    width: 100%;
    min-height: calc(100vh - 80px);
    margin-top: 80px;
}

.box-section {
    background-color: var(--white-color);
    /* height: 400px; */
}

.app-home__heading .header-name {
    font-size: 20px;
    padding: 10px;
    border-bottom: 2px solid var(--primary-color);
    font-weight: bold;
    color: var(--primary-color);
    position: relative;
}

.app-home__heading .header-name > a {
    font-size: 20px;
    margin-right: 10px;
    font-weight: bold;
    color: var(--primary-color);
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

.app-home__heading .header-name a:hover {
    background-color: var(--primary-color);
    color: white;
}

.info-container .img-account-profile {
    height: 200px;
}

.student-list-info .list-info {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.student-list-info .list-info .info-href-contain:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.student-list-info .list-info .info-href-contain a{
    text-decoration: none;
}

.info-href-contain i {
    width: 20px;
}

.info-container .img-teacher-profile {
    height: 80px;
}

.timetable-href {
    padding: 8px 24px;
}

.timetable-href a {
    text-decoration: none;
    font-size: 18px;
}

.timetable-href a:hover {
    text-decoration: underline;

}

/* registration  */
.registration-container {
    padding: 16px;
}

.applicate-container .applicate-btn,
.paid-items-container .paid-item-btn,
.applicate-container .applicate-view,
.paid-items-container .paid-item-view {
    border: 1px solid #ccc;
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    transition: fadeIn ease-in .5s;
}

.applicate-container .applicate-btn:hover,
.paid-items-container .paid-item-btn:hover,
.applicate-container .applicate-view:hover,
.paid-items-container .paid-item-view:hover {
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}

.applicate-container .applicate-btn,
.paid-items-container .paid-item-btn {
    border: 1px solid #ccc;
    width: 300px;
    margin-right: 8px;
}


/* notification  */
.notification-list .notificaiton-item {
    border-bottom: 1px solid #ccc;
}

.notification-list .notificaiton-item:hover {
    cursor: pointer;
    background-color: #ccc;
}

.notification-list .notificaiton-item .notifi-heading {
    display: flex;
    justify-content: space-between;
}

.notification-list .notificaiton-item .notifi-heading .notifi-header {
    font-weight: 600;
    font-size: 18px;
}

.notification-list .notificaiton-item .notifi-heading .notifi-date {
    font-size: 14px;
}

.notification-list .view-all {
    padding: 3px;
}

.notification-list .view-all a {
    font-size: 16px;
    text-decoration: none;
}

.notification-list .view-all a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

.header-notice {
    position: absolute;
    top: 4px;
    left: 25px;
    padding: 0px 5px;
    border-radius: 10px;
    font-size: 12px;
    line-height: 16px;
    background-color: red;
    color: white;
}

/* Student profile  */
.student-profile__avatar .img-account-profile{
    height: 190px;
    border: 3px solid #ccc;
}

.student-profile {
    display: flex;
    align-items: center;
    min-height: 100%;
}

.student-profile .profile-info {
    list-style-type: none;
}


/* Tabs profile  */
.tabs {
    display: flex;
    position: relative;
}

.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: var(--primary-color);
    transition: all 0.2s ease;
  }

  .tab-item {
    min-width: 80px;
    /* padding: 16px 20px 11px 20px;
     */
    padding: 8px;
    font-size: 20px;
    text-align: center;
    color: #999;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  .tab-item:hover {
    opacity: 1;
    background-color: rgba(53, 122, 227, 0.05);
    border-color: rgba(78, 62, 226, 0.1);
  }

  .tab-item.active {
    opacity: 1;
  }
  .tab-content {
    padding: 28px 0;
  }
  .tab-pane {
    color: #333;
    display: none;
  }
  .tab-pane.active {
    display: block;
  }
  .tab-pane h2 {
    font-size: 24px;
    margin-bottom: 8px;
  }


.general-info-list {
    list-style-type: none;
}

.general-info-list .general-info-item {

}


.change-password-btn .change-btn{
    font-size: 20px;
    border: 1px solid #ccc;
    text-align: left;
    font-weight: 500;
    transition: fadeIn ease-in .5s;
    background-color: #ccc;
}

.update-info-btn .update-btn {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    transition: fadeIn ease-in .5s;
    background-color: red;
    color: #fff;
}

.change-password-btn .change-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}

.update-info-btn .update-btn:hover {
    opacity: 0.7;
}

.change-password-container input {
    padding: 8px 16px;
    font-size: 16px;
    outline: none;
}


/* mark report  */
.timetable-navigation__heading {
    font-size: 26px;
    color: #333;
}

.timet-nav__item {
}

.timet-nav__item-main {
    background-color: #ccc;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    width: 164px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timet-nav__item-main:hover {
    opacity: 0.7;
    cursor: pointer;
}

.timet-nav__item-content {
    list-style: none;
    padding: 0;
    margin-left: 5px;
    display: none;
}

.timet-nav__item-content.show {
    display: block;
}

.timet-nav__item-content li {
    border: 1px solid #ccc;
    width: 152px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
}

.timet-nav__item-content li:hover {
    background-color: #ccc;
    cursor: pointer;
}

/* Mark-teacher */
.nav-list-horizontal {
list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-list-horizontal li {
    float: right;
}

.notifi-icon{
    display: inline-flex;
    font-size: 40px;
}

.mh-0{
    max-height: 0px;
}

.search-btn-contain {
    position: absolute;
    top: 7px;
    right: 12px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.search-btn-contain > a {
    padding: 0 10px;
}

.submit-modal-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 6px 10px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.input-mark-student {
    width: 50px;
    outline: none;
    text-align: center;
}

.read-notification {
    background-color: #f8f9fa; /* light gray */
}

.unread-notification {
    background-color: #ffffff; /* white */
}

/* Admin Academic Affairs */

.acaAff-header {
    height: 80px;
}

.acaAff-header  p {
    color: var(--primary-color);
}

.acaAff-header .navbar-logo {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.acaAff-header .navbar-logo p {
    line-height: 30px;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 0;
}

.acaAff-header .navbar-nav .nav-item {
    margin: 0 10px;
}

.acaAff-header .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 700;
}

.acaAff-header .navbar-nav .nav-link:hover {
    color: var(--primary-color);
}

.acaAff-header .user-dropdown .user-dropdown-btn{
    height: 50px;
    font-size: 20px;
    font-weight: 700;
}

.acaAff-header .user-dropdown .user-dropdown-btn i {
    margin: 0 5px;
}

.acaAff-header .dropdown-menu .dropdown-item{
    font-size: 14px;
    font-weight: 500;
}

/* Timetable Academic Affair */
.acaAff-input-ctrl {
    max-width: 300px;
}

.acaAff-input-ctrl label{
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
    line-height: 33px;
}

.acaAff-input-ctrl select {
    font-size: 16px;
    font-weight: 400;
    width: 100px;
    border-radius: 5px;
    background-color: #e2e2e2;
}

.acaAff-input-ctrl input {
    font-size: 16px;
    font-weight: 400;
    width: 120px;
    height: 33px;
    border-radius: 5px;
}

/* Lock Mark  */
.box-lock-time {
    border: 1px solid #ccc;
}

.box-lock-time .box-lock-time__header {
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}

.acaAff-container .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.acaAff-container .nav-link {
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 500;
}

/* timetable */
.import-file {
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 20px;
    font-size: 16px;
}
.import-file h3 {
    padding-bottom: 10px;
    color: var(--primary-color);
    font-weight: bold;
}

.btn-confirm-modal {
    font-size: 20px;
    border: 1px solid #ccc;
    text-align: left;
    font-weight: 500;
    transition: fadeIn ease-in .5s;
    background-color: red;
}

.btn-confirm-modal:hover {
    opacity: 0.5;
    color: #fff;
}

.btn-cancel-modal {
    font-size: 20px;
    border: 1px solid #ccc;
    text-align: left;
    font-weight: 500;
    transition: fadeIn ease-in .5s;
    background-color: #ccc;
}

.btn-cancel-modal:hover {
    background-color: var(--primary-color);
    color: #fff;
}
