* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 10px */
    line-height: 1.6rem;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-color: #0F7DBC;
    --white-color: #fff;
}

.text-color-white {
    color: var(--white-color);
}

.text-color-primary {
    color: var(--primary-color);
}

.text-color-gray {
    color: #333;
}

.text-color-green {
    color: green;
}

.text-color-red {
    color: red;
}

.background-gray{
    background-color: #ccc;
}

.background-primary {
    background-color: var(--primary-color);
}

.grid {
    width: 1400px;
    max-width: 90%;
    margin: 0 auto;
    height: 100%;
}

.box-section {
    border: 2px solid #dbdbdb;
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.section-m1{
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.btn-me {
    min-width: 154px;
    height: 40px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fs-20 {
    font-size: 20px;
}

.fs-16 {
    font-size: 16px;
}

/*position*/
fl-r {
    float: right;
}


/* table style  */
thead th, td {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/* Admin Academic Affairs  */
.acaAff-btn {
    background-color: var(--primary-color);
    color: #fff;
    width: 150px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    margin: 5px;
    border: 0;
    padding: 0;
}

.acaAff-btn:hover {
    opacity: 0.9;
    cursor: pointer;
    color: var(--white-color);
}

.acaAff-btn.btn-error {
    background-color: red;
}




