<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentProfileController</servlet-name>
        <servlet-class>Controller.StudentProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendApplication</servlet-name>
        <servlet-class>Controller.SendApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentList</servlet-name>
        <servlet-class>Controller.StudentList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationTeacher</servlet-name>
        <servlet-class>Controller.NotificationFromTeacher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentProfileController</servlet-name>
        <url-pattern>/studentprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendApplication</servlet-name>
        <url-pattern>/SendApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentList</servlet-name>
        <url-pattern>/student-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationTeacher</servlet-name>
        <url-pattern>/NotificationTeacher</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
