<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailsNotiFromSchool</servlet-name>
        <servlet-class>Controller.ViewDetailsNotiFromSchool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendApplicationStudent</servlet-name>
        <servlet-class>Controller.SendApplicationStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertApplicationStudent</servlet-name>
        <servlet-class>Controller.InsertApplicationStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadTimetable</servlet-name>
        <servlet-class>Controller.LoadTimetable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTimetableTeacher</servlet-name>
        <servlet-class>Controller.ViewTimetableTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTimetableStudent</servlet-name>
        <servlet-class>Controller.ViewTimetableStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherListController</servlet-name>
        <servlet-class>Controller.TeacherListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentListController</servlet-name>
        <servlet-class>Controller.StudentListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentListByClassController</servlet-name>
        <servlet-class>Controller.StudentListByClassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentController</servlet-name>
        <servlet-class>Controller.UpdateStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentController</servlet-name>
        <servlet-class>Controller.DeleteStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentController</servlet-name>
        <servlet-class>Controller.AddStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTeacherController</servlet-name>
        <servlet-class>Controller.AddTeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAccountController</servlet-name>
        <servlet-class>Controller.ListAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountController</servlet-name>
        <servlet-class>Controller.UpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAttendanceList</servlet-name>
        <servlet-class>Controller.CheckAttendanceList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAttendanceController</servlet-name>
        <servlet-class>Controller.CheckAttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceStatusController</servlet-name>
        <servlet-class>Controller.AttendanceStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LockMark</servlet-name>
        <servlet-class>Controller.LockMark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>Controller.Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewApplicationHistoryStudent</servlet-name>
        <servlet-class>Controller.ViewApplicationHistoryStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewApplicationTeacher</servlet-name>
        <servlet-class>Controller.ViewApplicationTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchoolNotificationHistory</servlet-name>
        <servlet-class>Controller.SchoolNotificationHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNotiFromSchool</servlet-name>
        <servlet-class>Controller.UpdateNotiFromSchool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailsNotiFromTeacher</servlet-name>
        <servlet-class>Controller.ViewDetailsNotiFromTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailNotificationManager</servlet-name>
        <servlet-class>Controller.ViewDetailNotificationManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailNotiSchoolUpdate</servlet-name>
        <servlet-class>Controller.ViewDetailNotiSchoolUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNotification</servlet-name>
        <servlet-class>Controller.DeleteNotification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteNotification</servlet-name>
        <url-pattern>/deleteNotification</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddFeeController</servlet-name>
        <servlet-class>Controller.AddFeeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFeeController</servlet-name>
        <url-pattern>/AddFeeController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddAccountController</servlet-name>
        <servlet-class>Controller.AddAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTeacherListByClassid</servlet-name>
        <servlet-class>Controller.GetTeacherListByClassid</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudentProfileController</servlet-name>
        <servlet-class>Controller.StudentProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNotificationTeacher</servlet-name>
        <servlet-class>Controller.DeleteNotificationTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailNotiTeacherUpdate</servlet-name>
        <servlet-class>Controller.ViewDetailNotiTeacherUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentProfileController</servlet-name>
        <url-pattern>/studentprofile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SendApplication</servlet-name>
        <servlet-class>Controller.SendApplication</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendApplication</servlet-name>
        <url-pattern>/SendApplication</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudentList</servlet-name>
        <servlet-class>Controller.StudentList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentList</servlet-name>
        <url-pattern>/student-list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NotificationTeacher</servlet-name>
        <servlet-class>Controller.NotificationFromTeacher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotificationTeacher</servlet-name>
        <url-pattern>/notificationTeacher</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NotificationFromSchool</servlet-name>
        <servlet-class>Controller.NotificationFromSchool</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotificationFromSchool</servlet-name>
        <url-pattern>/notificationSchool</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SendNotificationFromTeacher</servlet-name>
        <servlet-class>Controller.SendNotificationFromTeacher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendNotificationFromTeacher</servlet-name>
        <url-pattern>/sendNotificationFromTeacher</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SendNotificationFromSchool</servlet-name>
        <servlet-class>Controller.SendNotificationFromSchool</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendNotificationFromSchool</servlet-name>
        <url-pattern>/sendNotificationFromSchool</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangePassWordController</servlet-name>
        <servlet-class>Controller.ChangePassWordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePassWordController</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CRUDMarkController</servlet-name>
        <servlet-class>Controller.CRUDMarkController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CRUDMarkController</servlet-name>
        <url-pattern>/crudmark</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateMarkController</servlet-name>
        <servlet-class>Controller.UpdateMarkController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateMarkController</servlet-name>
        <url-pattern>/updatemark</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewMarkController</servlet-name>
        <servlet-class>Controller.ViewMarkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherNotificationHistory</servlet-name>
        <servlet-class>Controller.TeacherNotificationHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTeacherListByClassid</servlet-name>
        <servlet-class>Controller.GetTeacherListByClassid</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTeacherListByClassid</servlet-name>
        <url-pattern>/list-teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMarkController</servlet-name>
        <url-pattern>/viewmark</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SendEmailController</servlet-name>
        <servlet-class>Controller.SendEmailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendEmailController</servlet-name>
        <url-pattern>/send-email</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VerifyEmailHandler</servlet-name>
        <servlet-class>Controller.VerifyEmailHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyEmailHandler</servlet-name>
        <url-pattern>/verify-email</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeForgotPasswordController</servlet-name>
        <servlet-class>Controller.ChangeForgotPasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeForgotPasswordController</servlet-name>
        <url-pattern>/change-forgot-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherNotificationHistory</servlet-name>
        <url-pattern>/teacherNotificationHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherListController</servlet-name>
        <url-pattern>/teacherlistcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentListController</servlet-name>
        <url-pattern>/studentlistcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentListByClassController</servlet-name>
        <url-pattern>/StudentListByClassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentController</servlet-name>
        <url-pattern>/updatestudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentController</servlet-name>
        <url-pattern>/deletestudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentController</servlet-name>
        <url-pattern>/addstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTeacherController</servlet-name>
        <url-pattern>/addteacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAccountController</servlet-name>
        <url-pattern>/listaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountController</servlet-name>
        <url-pattern>/updateaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAttendanceList</servlet-name>
        <url-pattern>/list-attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAttendanceController</servlet-name>
        <url-pattern>/check-attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceStatusController</servlet-name>
        <url-pattern>/attendance-status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LockMark</servlet-name>
        <url-pattern>/LockMark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>com.vnpay.common.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>com.vnpay.common.vnpayRefund</servlet-class>
    </servlet>
    <servlet>
     <servlet-name>ViewFeeController</servlet-name>
     <servlet-class>Controller.ViewFeeController</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>ViewFeeController</servlet-name>
    <url-pattern>/ViewFeeController</url-pattern> 
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayquery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayrefund/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateNotiFromTeacher</servlet-name>
        <servlet-class>Controller.UpdateNotiFromTeacher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateNotiFromTeacher</servlet-name>
        <url-pattern>/updateNotiFromTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailsNotiFromSchool</servlet-name>
        <url-pattern>/viewDetailsNotiFromSchool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendApplicationStudent</servlet-name>
        <url-pattern>/sendApplicationStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertApplicationStudent</servlet-name>
        <url-pattern>/insertApplicationStudent</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping><servlet-name>ViewApplicationHistoryStudent</servlet-name><url-pattern>/viewApplicationHistoryStudent</url-pattern></servlet-mapping>-->
    <servlet>
        <servlet-name>TeacherListTimetable</servlet-name>
        <servlet-class>Controller.TeacherListTimetable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageTimtable</servlet-name>
        <servlet-class>Controller.ManageTimtable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassListServlet</servlet-name>
        <servlet-class>Controller.ClassListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageTimetableClass</servlet-name>
        <servlet-class>Controller.ManageTimetableClass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadTimetable</servlet-name>
        <url-pattern>/loadTimetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTimetableTeacher</servlet-name>
        <url-pattern>/viewTimetableTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTimetableStudent</servlet-name>
        <url-pattern>/viewTimetableStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewApplicationHistoryStudent</servlet-name>
        <url-pattern>/viewApplicationHistoryStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewApplicationTeacher</servlet-name>
        <url-pattern>/viewApplicationTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchoolNotificationHistory</servlet-name>
        <url-pattern>/schoolNotificationHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNotiFromSchool</servlet-name>
        <url-pattern>/updateNotiFromSchool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailsNotiFromTeacher</servlet-name>
        <url-pattern>/viewDetailsNotiFromTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailNotificationManager</servlet-name>
        <url-pattern>/viewDetailNotificationManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailNotiSchoolUpdate</servlet-name>
        <url-pattern>/viewDetailNotiSchoolUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNotificationTeacher</servlet-name>
        <url-pattern>/deleteNotificationTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailNotiTeacherUpdate</servlet-name>
        <url-pattern>/viewDetailNotiTeacherUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherListTimetable</servlet-name>
        <url-pattern>/teacherListTimetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageTimtable</servlet-name>
        <url-pattern>/manageTimtable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassListServlet</servlet-name>
        <url-pattern>/classList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageTimetableClass</servlet-name>
        <url-pattern>/manageTimetableClass</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>undefined
</web-app>
